body{
  background-color: #b10101; /* Light grey background */
}

.center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
